.table {
    padding: 85px;
    background-color: #fff;

    .table-days {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 10px;
    }
}

@media (max-width: 1200px) {
    .table {
        padding: 50px;
    }
}

@media (max-width: 992px) {
    .table {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .table {
        .table-days {
            grid-template-columns: repeat(2, auto);
        }
    }
}

@media (max-width: 576px) {
    .table {
        padding: 20px 10px;
    }
}